* {
  margin: 0px;  
}

body {
  font-family: arial;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightskyblue;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
  background-color: white;
  padding: 30px;
  border-radius: 14px;
}

input {
  border: solid 1px grey;
  border-radius: 4px;
  padding: 4px 0 4px 6px;
}

input.invalid {
  border: solid 1px red;
}

.title {
  text-align: left;
  font-size: 16px;
  margin-bottom: -6px;
}

.error {
  color: red;
  margin-top: -8px;
  text-align: left;
  font-size: 12px;
  height: 16px;
}

#submit {
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.title::after {
  content: "*";
  color: lightskyblue;
}

h2 {
    font-size: 30px;
    margin-bottom: 12px;
}